.u-section-1 .u-sheet-1 {
  min-height: 1459px;
}

.u-section-1 .u-text-1 {
  margin: 61px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 1199px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px 24px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/KakaoTalk_Photo_2022-08-14-14-41-02.jpeg");
  background-position: 50% 0%;
  background-size: cover;
  margin: 2px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px 24px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/135a7217a6ad4c6bfefd5a2b527df3dee7a91a34e50091a6b19cb821dc2c8966bb011c157bf20b8aec09d78a9ca31fc0b4521a1d02b8c68895f0f6_1280.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/135a7217a6ad4c6bfefd5a2b527df3dee7a91a34e50091a6b19cb821dc2c8966bb011c157bf20b8aec09d78a9ca31fc0b4521a1d02b8c68895f0f6_1280.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 28px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/135a7217a6ad4c6bfefd5a2b527df3dee7a91a34e50091a6b19cb821dc2c8966bb011c157bf20b8aec09d78a9ca31fc0b4521a1d02b8c68895f0f6_1280.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 989px;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 797px;
  margin: 33px auto 0;
}

.u-section-2 .u-table-1 {
  margin: 45px auto 60px;
}

.u-block-9ace-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-9ace-93 {
  height: 46px;
}

.u-block-9ace-94 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-9ace-164 {
  background-image: none;
  font-weight: 700;
}

.u-block-9ace-96 {
  background-image: none;
  font-weight: 700;
}

.u-block-9ace-147 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-5 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-6 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-7 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-9 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-10 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-11 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-13 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-14 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-15 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-17 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-18 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-19 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-20 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-21 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-22 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-23 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-24 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-25 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-26 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-27 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-28 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-29 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-30 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-31 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-32 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-33 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-34 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-35 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-37 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-38 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-39 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-40 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-41 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-42 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-43 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-44 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-45 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-46 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-47 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-48 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-49 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-50 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-51 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-52 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-53 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-54 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-55 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-56 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-57 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-58 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-59 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-60 {
  background-image: none;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-61 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-62 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-63 {
  font-size: 1rem;
}

.u-section-2 .u-table-cell-64 {
  background-image: none;
  font-size: 1rem;
}

.u-block-9ace-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-5 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-6 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-7 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-8 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-9 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-10 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-11 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-12 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-13 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-14 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-15 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-16 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-17 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-18 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-19 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-20 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-21 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-22 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-23 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-24 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-25 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-26 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-27 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-28 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-29 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-30 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-31 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-32 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-33 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-34 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-35 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-36 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-37 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-38 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-39 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-40 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-41 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-42 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-43 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-44 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-45 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-46 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-47 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-48 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-49 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-50 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-51 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-52 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-53 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-54 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-55 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-56 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-57 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-58 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-59 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-60 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-61 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-62 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-63 {
    font-weight: 400;
  }

  .u-section-2 .u-table-cell-64 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}