.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 34px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 396px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/KakaoTalk_Photo_2022-08-14-14-41-02.jpeg");
  background-position: 50% 0%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2024-12-17at00.11.24.jpeg");
  background-position: 50% 90.92%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2024-12-17at14.02.43.jpeg");
  background-position: 50% 5.15%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2024-12-17at14.06.27.jpeg");
  background-position: 50% 1.23%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 325px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1024px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 589px;
}

.u-section-2 .u-text-1 {
  margin: 80px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-table-1 {
  margin: 20px auto 42px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-2 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-3 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-4 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-18 {
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  background-image: none;
}

.u-section-2 .u-table-cell-20 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  background-image: none;
}

.u-section-2 .u-table-cell-24 {
  background-image: none;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-section-2 .u-table-cell-26 {
  background-image: none;
}

.u-section-2 .u-table-cell-27 {
  background-image: none;
}

.u-section-2 .u-table-cell-28 {
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-30 {
  background-image: none;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
}

.u-section-2 .u-table-cell-32 {
  background-image: none;
}

.u-section-2 .u-table-cell-33 {
  background-image: none;
}

.u-section-2 .u-table-cell-34 {
  background-image: none;
}

.u-section-2 .u-table-cell-35 {
  background-image: none;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
}

.u-section-2 .u-table-cell-38 {
  background-image: none;
}

.u-section-2 .u-table-cell-39 {
  background-image: none;
}

.u-section-2 .u-table-cell-40 {
  background-image: none;
}

.u-section-2 .u-table-cell-41 {
  background-image: none;
}

.u-section-2 .u-table-cell-42 {
  background-image: none;
}

.u-section-2 .u-table-cell-43 {
  background-image: none;
}

.u-section-2 .u-table-cell-44 {
  background-image: none;
}

.u-section-2 .u-table-cell-45 {
  background-image: none;
}

.u-section-2 .u-table-cell-46 {
  background-image: none;
}

.u-section-2 .u-table-cell-47 {
  background-image: none;
}

.u-section-2 .u-table-cell-48 {
  background-image: none;
}

.u-section-2 .u-table-cell-49 {
  background-image: none;
}

.u-section-2 .u-table-cell-50 {
  background-image: none;
}

.u-section-2 .u-table-cell-51 {
  background-image: none;
}

.u-section-2 .u-table-cell-52 {
  background-image: none;
}

.u-section-2 .u-table-cell-53 {
  background-image: none;
}

.u-section-2 .u-table-cell-54 {
  background-image: none;
}

.u-section-2 .u-table-cell-55 {
  background-image: none;
}

.u-section-2 .u-table-cell-56 {
  background-image: none;
}

.u-section-2 .u-table-cell-57 {
  background-image: none;
}

.u-section-2 .u-table-cell-58 {
  background-image: none;
}

.u-section-2 .u-table-cell-59 {
  background-image: none;
}

.u-section-2 .u-table-cell-60 {
  background-image: none;
}

.u-section-2 .u-table-cell-61 {
  background-image: none;
}

.u-section-2 .u-table-cell-62 {
  background-image: none;
}

.u-section-2 .u-table-cell-63 {
  background-image: none;
}

.u-section-2 .u-table-cell-64 {
  background-image: none;
}

.u-section-2 .u-table-cell-65 {
  background-image: none;
}

.u-section-2 .u-table-cell-66 {
  background-image: none;
}

.u-section-2 .u-table-cell-67 {
  background-image: none;
}

.u-section-2 .u-table-cell-68 {
  background-image: none;
}

.u-section-2 .u-table-cell-69 {
  background-image: none;
}

.u-section-2 .u-table-cell-70 {
  background-image: none;
}

.u-section-2 .u-table-cell-71 {
  background-image: none;
}

.u-section-2 .u-table-cell-72 {
  background-image: none;
}

.u-section-2 .u-table-cell-73 {
  background-image: none;
}

.u-section-2 .u-table-cell-74 {
  background-image: none;
}

.u-section-2 .u-table-cell-75 {
  background-image: none;
}

.u-section-2 .u-table-cell-76 {
  background-image: none;
}

.u-section-2 .u-table-cell-77 {
  background-image: none;
}

.u-section-2 .u-table-cell-78 {
  background-image: none;
}

.u-section-2 .u-table-cell-79 {
  background-image: none;
}

.u-section-2 .u-table-cell-80 {
  background-image: none;
}

.u-section-2 .u-table-cell-81 {
  background-image: none;
}

.u-section-2 .u-table-cell-82 {
  background-image: none;
}

.u-section-2 .u-table-cell-83 {
  background-image: none;
}

.u-section-2 .u-table-cell-84 {
  background-image: none;
}

.u-section-2 .u-table-cell-85 {
  background-image: none;
}

.u-section-2 .u-table-cell-86 {
  background-image: none;
}

.u-section-2 .u-table-cell-87 {
  background-image: none;
}

.u-section-2 .u-table-cell-88 {
  background-image: none;
}

.u-section-2 .u-table-cell-89 {
  background-image: none;
}

.u-section-2 .u-table-cell-90 {
  background-image: none;
}

.u-section-2 .u-table-cell-91 {
  background-image: none;
}

.u-section-2 .u-table-cell-92 {
  background-image: none;
}

.u-section-2 .u-table-cell-93 {
  background-image: none;
}

.u-section-2 .u-table-cell-94 {
  background-image: none;
}

.u-section-2 .u-table-cell-95 {
  background-image: none;
}

.u-section-2 .u-table-cell-96 {
  background-image: none;
}

.u-section-2 .u-table-cell-97 {
  background-image: none;
}

.u-section-2 .u-table-cell-98 {
  background-image: none;
}

.u-section-2 .u-table-cell-99 {
  background-image: none;
}

.u-section-2 .u-table-cell-100 {
  background-image: none;
}

.u-section-2 .u-table-cell-101 {
  background-image: none;
}

.u-section-2 .u-table-cell-102 {
  background-image: none;
}

.u-section-2 .u-table-cell-103 {
  background-image: none;
}

.u-section-2 .u-table-cell-104 {
  background-image: none;
}

.u-section-2 .u-table-cell-105 {
  background-image: none;
}

.u-section-2 .u-table-cell-106 {
  background-image: none;
}

.u-section-2 .u-table-cell-107 {
  background-image: none;
}

.u-section-2 .u-table-cell-108 {
  background-image: none;
}

.u-block-314a-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}