 .u-section-1 {
  border-style: double;
}

.u-section-1 .u-sheet-1 {
  min-height: 63px;
}

.u-section-1 .u-list-1 {
  width: 1128px;
  margin: 4px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  min-height: 60px;
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
    min-height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
    min-height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  min-height: 1314px;
}

.u-section-2 .u-image-1 {
  height: 697px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -675px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-shadow: 0px 0px 40px rgba(107,71,72,1);
  margin: 23px 0 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 1120px);
  transform-origin: left center;
  margin: 468px auto 0 0;
}

.u-section-2 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 1120px);
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-2 .u-line-3 {
  left: auto;
  top: 651px;
  position: absolute;
  height: 665px;
  transform-origin: center top;
  right: 173px;
}

.u-section-2 .u-line-4 {
  left: auto;
  top: 651px;
  position: absolute;
  height: 664px;
  transform-origin: center top;
  right: 188px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 33px calc(((100% - 1140px) / 2)  + 178px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-line-3 {
    margin-top: 0;
  }

  .u-section-2 .u-line-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 675px;
}

.u-section-4 .u-text-1 {
  margin: 46px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 463px;
  margin-top: 40px;
  margin-bottom: 46px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding-left: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 120px;
}

@media (max-width: 575px) {
  .u-section-4 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 91px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 59px;
}

.u-section-5 .u-image-1 {
  min-height: 315px;
  background-image: url("images/systemdiagram1.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-5 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 372px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 33px;
}

.u-section-5 .u-text-5 {
  margin: 28px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 401px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 339px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-2 {
    height: 196px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 21px 55px 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin: 0 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 22px);
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 225px;
  grid-gap: 33px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-5 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-6 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-6 .u-text-13 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 22px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 189px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-6 .u-text-14 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 16.5px);
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 342px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-14 {
    margin-top: 27px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 165px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 165px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 165px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 165px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 165px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-11 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 103px;
  }

  .u-section-6 .u-text-13 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-14 {
    margin-top: 28px;
    margin-left: 60px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 942px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 21px 55px 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin: 0 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 16.5px);
  grid-template-columns: repeat(2, calc(50% - 16.5px));
  min-height: 225px;
  grid-gap: 33px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-7 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 36px 283px 0 0;
  padding: 9px;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 190px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 215px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 215px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 215px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 75px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 215px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 75px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 27px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 165px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 165px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 165px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-icon-1 {
    margin-right: 103px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 103px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 103px;
  }

  .u-section-7 .u-text-7 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 103px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 28px;
    margin-left: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-8 .u-text-1 {
  width: 499px;
  margin: 76px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-table-1 {
  margin: 20px auto 60px 0;
}

.u-section-8 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-8 .u-table-cell-2 {
  font-size: 1.25rem;
}

.u-section-8 .u-table-cell-3 {
  font-size: 1.25rem;
}

.u-section-8 .u-table-cell-4 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-5 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-6 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-7 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-8 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-9 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-10 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-11 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-12 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-13 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-14 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-15 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-16 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-17 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-18 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-19 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-20 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-21 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-22 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-23 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-24 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-25 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-26 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-27 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-28 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-29 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-30 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-31 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-32 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-33 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-34 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-35 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-36 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-37 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-38 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-39 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-40 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-41 {
  font-size: 1.125rem;
}

.u-section-8 .u-table-cell-42 {
  font-size: 1.125rem;
}

.u-block-3f76-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
}