 .u-section-1 {
  border-style: double;
}

.u-section-1 .u-sheet-1 {
  min-height: 63px;
}

.u-section-1 .u-list-1 {
  width: 1128px;
  margin: 4px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  min-height: 60px;
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
    min-height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
    min-height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  width: 606px;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-2 .u-image-1 {
  height: 285px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 916px;
  min-height: 550px;
  height: auto;
  margin: -58px auto 49px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0 3px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 611px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-2 .u-group-1 {
    min-height: 339px;
    width: 605px;
    margin-bottom: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 371px;
    width: 466px;
    margin-bottom: 49px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 802px;
}

.u-section-4 .u-text-1 {
  margin: 70px 56px 0;
}

.u-section-4 .u-gallery-1 {
  width: 906px;
  height: 463px;
  margin: 40px auto 60px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding-left: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 120px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1190px;
}

.u-section-5 .u-text-1 {
  margin: 70px 98px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 143px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 460px;
  background-image: url("images/systemdiagram1.png");
  background-position: 39.77% 100%;
  background-size: auto 110%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  margin: 52px 26px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 19px 26px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 390px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-text-5 {
  margin: 0 0 0 22px;
}

.u-section-5 .u-text-6 {
  margin: 19px 0 0 22px;
}

.u-section-5 .u-image-2 {
  min-height: 390px;
  background-image: url("images/schematics.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-5 .u-image-1 {
    min-height: 315px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 960px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 861px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 59px 108px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 21px 60px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 11.3333px));
  min-height: 567px;
  grid-auto-columns: calc(33.3333% - 11.3333px);
  grid-gap: 17px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-1 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-5 {
  margin: 17px 6px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-2 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-8 {
  margin: 17px 6px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-3 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-11 {
  margin: 17px 6px 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-4 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-14 {
  margin: 17px 6px 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-5 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-17 {
  margin: 17px 6px 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 10px 0 0;
}

.u-section-6 .u-group-6 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-6 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-6 .u-text-19 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-6 .u-text-20 {
  margin: 17px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    width: 814px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
    grid-auto-columns: calc(33.333333333333336% - 11.3333px);
    min-height: 468px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }

  .u-section-6 .u-group-4 {
    height: auto;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
  }

  .u-section-6 .u-group-5 {
    height: auto;
  }

  .u-section-6 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-17 {
    margin-right: 0;
  }

  .u-section-6 .u-group-6 {
    height: auto;
  }

  .u-section-6 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-20 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
    grid-auto-columns: calc(50% - 8.499975px);
    min-height: 821px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-group-1 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-5 {
    margin-left: 1px;
  }

  .u-section-6 .u-group-2 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }

  .u-section-6 .u-group-3 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
  }

  .u-section-6 .u-group-4 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
  }

  .u-section-6 .u-group-5 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-17 {
    margin-left: 0;
  }

  .u-section-6 .u-group-6 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-20 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-group-1 {
    margin-right: 290px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-group-2 {
    margin-right: 290px;
  }

  .u-section-6 .u-group-3 {
    margin-right: 290px;
  }

  .u-section-6 .u-group-4 {
    margin-right: 290px;
  }

  .u-section-6 .u-group-5 {
    margin-right: 290px;
  }

  .u-section-6 .u-group-6 {
    margin-right: 290px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 773px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 62px 108px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 21px 60px 0 0;
}

.u-section-7 .u-list-1 {
  margin: 46px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  min-height: 481px;
  grid-auto-columns: calc(25% - 13.5px);
  grid-gap: 18px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-7 .u-group-1 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-7 .u-text-5 {
  margin: 17px 6px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-7 .u-group-2 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-7 .u-text-8 {
  margin: 17px 6px 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-7 .u-group-3 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-7 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-7 .u-text-11 {
  margin: 17px 6px 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-7 .u-group-4 {
  width: 50px;
  min-height: 50px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 509px 0 6px;
}

.u-section-7 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-7 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px 10px 0 66px;
}

.u-section-7 .u-text-14 {
  margin: 17px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    width: 814px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 392px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-group-3 {
    height: auto;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }

  .u-section-7 .u-group-4 {
    height: auto;
  }

  .u-section-7 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    grid-auto-columns: calc(50% - 9px);
    min-height: 1260px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-group-1 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-5 {
    margin-left: 1px;
  }

  .u-section-7 .u-group-2 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
  }

  .u-section-7 .u-group-3 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
  }

  .u-section-7 .u-group-4 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-7 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-group-1 {
    margin-right: 290px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-group-2 {
    margin-right: 290px;
  }

  .u-section-7 .u-group-3 {
    margin-right: 290px;
  }

  .u-section-7 .u-group-4 {
    margin-right: 290px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 574px;
}

.u-section-8 .u-text-1 {
  width: 740px;
  margin: 69px auto 0;
}

.u-section-8 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-8 .u-table-1 {
  width: 1032px;
  margin: 20px auto 60px;
}

.u-section-8 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-8 .u-table-cell-1 {
  background-image: none;
}

.u-section-8 .u-table-cell-2 {
  background-image: none;
}

.u-section-8 .u-table-cell-3 {
  background-image: none;
}

.u-section-8 .u-table-body-1 {
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-8 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-table-1 {
    width: 340px;
  }
}